{% load static %}
<!DOCTYPE html>
<html xmlns="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}"></link>
    <style type="text/css"> {% block styles %} {% endblock %} </style>
    <style>
        @font-face {
            font-family: Myriad;
            src: url('{% static "/Fonts/MYRIADPRO-REGULAR.OTF"%}') format("truetype");
        }

        @font-face {
            font-family: Lato;
            src: url('{% static "/Fonts/Lato-Regular.ttf"%}') format("truetype");
        }
    </style>
    <link rel="stylesheet" href='{% static "TemplateData/style.css" %}'>
    <script src='{% static "TemplateData/UnityProgress.js" %}'></script>
    <script src='{% static "Build/UnityLoader.js" %}'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    {% block nav %} {% endblock %}

    {% block body1 %} {% endblock %}
    {% block body2 %} {% endblock %}
    {% block body3 %} {% endblock %}
    {% block body4 %} {% endblock %}
    {% block body5 %} {% endblock %}
    {% block body6 %} {% endblock %}
    {% block body7 %} {% endblock %}
    {% block body8 %} {% endblock %}

    {% block footer %} {% endblock %}

</body>
</html>

<script type="text/javascript">
  $(function() {
      $('a').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
</script>

