{% load static %}


<div class="container-fluid" style="height: 50.5vw;">
    <div class="row" style="height: 5vw;">
    </div>
    <div class="row" style="height: 36.5vw;">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-4">
            <div>
                <div class="GreenHeader">
                    STANDS VIRTUALES
                </div>
                <div class="ContainerFillImg">
                    <img class="FillImg" src="{% static "images/stand.jpg"%}">
                </div>
                <div class="StandsBottomText">
                    Los stands expositores, son totalmente 
                    personalizables para ajustarse a tu
                    branding y podrás informar a los
                    visitantes sobre tu negocio, a través de
                    distintas interacciones como videos, 
                    promocionales y chats.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row" style="height: 40.5vw;position: relative; right:-1vw;">
                <div class="col-sm-12">
                    <div class="row" style="height: 20vw;">
                        <div class="col-sm-6">
                            <div class="GreenHeader" id="GreenHeader1">
                                NETWORKING
                            </div>
                            <div class="ContainerFillImg" id="ContainerFillImg1">
                                <img class="FillImg" id="FillImg1" src="{% static "images/networking.jpg"%}">
                            </div>
                        </div>
                        <div class="col-sm-6 StandsBottomText" id="StandsBottomText1">
                            Interactúa de manera
                            personal  con los asistentes, 
                            conoce sus  nececidades, 
                            responde sus dudas, crea 
                            prospectos.
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="height:2vw;">
                </div>
                <div class="col-sm-12">
                    <div class="row" style="height: 20vw;">
                        <div class="col-sm-6">
                            <div class="GreenHeader" id="GreenHeader1">
                                SALA DE CONFERENCIAS
                            </div>
                            <div class="ContainerFillImg" id="ContainerFillImg1">
                                <img class="FillImg" id="FillImg1" src="{% static "images/sala.jpg"%}">
                            </div>
                        </div>
                        <div class="col-sm-6 StandsBottomText" id="StandsBottomText2">
                            El auditorio y salas de conferencias son espacios virtales idelaes para ponencias, discusiones y presentaciones a través de videos en vivo.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>