{% load static %}


<div class="container-fluid" style="height: 50.5vw;">
    <div class="row" style="height: 4vw;">
    	<div class="col-sm-12" style="margin: auto; width: 100vw; text-align: center;">
            <p id="AplicacionHeader">Áreas de Aplicación</p>
        </div>
    </div>

    <div class="row" style="height: 4vw;">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10" >
            <p id="AplicacionSubheader">El diseño de la plataforma de “Expo Virtual” permite una gran versatilidad de aplicaciones llevando a cabo eventos digitales y exposiciones para diferentes sectores, como por ejemplo:</p>
        </div>
    </div>

    <div class="row" style="height: 3vw;">
    </div>

    <div class="row" style="height: 6vw;">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10 AplicacionContainer">
            <div class="row" style="height: 6vw;">
                <div class="col-sm-1" style="background-color: #81D742;">
                    <img class="AplicacionIcono"src="{% static "images/lupa.png"%}">
                </div>
                <div class="col-sm-11" style="background-color: #ECEEED">
                    <p class="AplicacionText"><b>Feria del empleo</b> - Eventos enfocados de empresas de diferentes sectores, ofreciendo<br> oportunidades de trabajo.</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row" style="height: 1vw;">
    </div>

    <div class="row" style="height: 6vw;">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10 AplicacionContainer">
            <div class="row" style="height: 6vw;">
                <div class="col-sm-1" style="background-color: #81D742;">
                    <img class="AplicacionIcono"src="{% static "images/personitas.png"%}">
                </div>
                <div class="col-sm-11" style="background-color: #ECEEED">
                    <p class="AplicacionText"><b>Feria coorporativa</b> - Pequeñas, medianas y grandes empresas podrán darse a conocer<br> obteniendo un nivel de captación directo y a mayor escala de prospectos.</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row" style="height: 1vw;">
    </div>

    <div class="row" style="height: 6vw;">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10 AplicacionContainer">
            <div class="row" style="height: 6vw;">
                <div class="col-sm-1" style="background-color: #81D742;">
                    <img class="AplicacionIcono"src="{% static "images/conferencias.png"%}">
                </div>
                <div class="col-sm-11" style="background-color: #ECEEED">
                    <p class="AplicacionText"><b>Conferencias Online</b> - Congresos, conferencias, foro de opinión en tiempo real de las<br> actividades que podrás realizar con el poder de un mayor alcance.</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row" style="height: 1vw;">
    </div>

    <div class="row" style="height: 6vw;">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10 AplicacionContainer">
            <div class="row" style="height: 6vw;">
                <div class="col-sm-1" style="background-color: #81D742;">
                    <img class="AplicacionIcono"src="{% static "images/industrial.png"%}">
                </div>
                <div class="col-sm-11" style="background-color: #ECEEED">
                    <p class="AplicacionText"><b>Feria Industrial</b> - Presentación de productos y equipos de forma digital del sector<br> industrial.</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row" style="height: 1vw;">
    </div>

    <div class="row" style="height: 6vw;">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10 AplicacionContainer">
            <div class="row" style="height: 6vw;">
                <div class="col-sm-1" style="background-color: #81D742;">
                    <img class="AplicacionIcono"src="{% static "images/portavoz.png"%}" style="width: 4vw; left: .8vw;">
                </div>
                <div class="col-sm-11" style="background-color: #ECEEED">
                    <p class="AplicacionText"><b>Eventos de prensa y marketing</b> - Eventos Iideales para lanzamientos de campaña y<br> productos.</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row" style="height: 1vw;">
    </div>
    
</div>