{% load static %}


<div class="container-fluid" id="FuncionBlock" style="height: 50.5vw;">
    <div class="row" style="height: 13vw;">
    	<div class="col-sm-12" style="margin: auto; width: 100vw; text-align: center;">
            <p id="FuncionHeader">Tu expo virtual  te proyectar tu negocio de manera interactiva y práctica, <br>obteniendo un mayor y directo alcance con clientes potenciales</p>
        </div>
    </div>
    
    <div class="row" style="height: 33vw; position: relative;">
        <div id="FuncionBackground" style="height: 33vw; width: 100vw;">
            <img id="FuncionAdornoVerde"src="{% static "images/rectanguloverde.png"%}">
            
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-5">
            <!--img id="FuncionImage" class="center" src="{% static "images/hall.jpg"%}"-->
            <div id="FuncionImage">
                <div id="unityContainer" style="width: 38vw; height: 25vw;"></div>
            </div>
        </div>
        <div class="col-sm-5">
            <p id="FuncionComponentHeader">¿Como funciona?</p>
            <p id="FuncionDescription">
            Nuestro HALL virtual cuenta con diferentes <br>
            espacios para dar a conocer tu negocio; desde<br> 
            stands virtuales donde podrás mostrar e informar<br> 
            sobre tu marca, hasta salas y auditorios donde<br>
            podras realizar conferencias.<br><br>

            Los visitantes a través de un avatar podrán recorrer <br>
            el HALL, acercarse a tu stand e interactuar contigo.
            </p>
        </div>
    </div>
</div>