{% load static %}


<div class="container-fluid" style="height: 50.5vw;">
    <div class="row" style="height: 5vw;">
        <div class="col-sm-12">
            <div class="PreguntasHeader">
                Preguntas frecuentes
            </div>
            <div class="PreguntasQuestion">
                ¿Como expositor, como controlo la plataforma?
            </div>
            <div class="PreguntasQuestion">
                ¿Cuento con algún tipo de asistencia durante los eventos?
            </div>
            <div class="PreguntasQuestion">
                ¿Como interactúo con los asistentes?
            </div>
            <div class="PreguntasQuestion">
                ¿Cuando y como se llevan a cabo los eventos?
            </div>
        </div>
    </div>
</div>