{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Staff - Espositor Edit Stand
{% endblock %}

{% block nav %}
{% endblock %}

{% block scripts %}
    <script>
      var unityInstance = UnityLoader.instantiate("unityContainer", '{% static "Build_StandPreview/StandPreview.json" %}', {onProgress: UnityProgress});
    </script>
{% endblock %}

{% block body1 %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/Login" class="brand-link">
    <span class="brand-text font-weight-light">Logout</span>
  </a>


  <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  <li class="nav-header">Lista de Stands</li>
    {% for stand in stands %}
        <li class="nav-item">
          <a href="/Expositor/EditStand/{{ stand.id }}"  class="nav-link">
            <p>{{ stand.nombre }}</p>
          </a>
        </li>
        {% endfor %}
      </nav>
</aside>


{% endblock %}

{% block body2 %}

<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6">

          <div class="card card-primary">
          <div class="card-header">
              <h3 class="card-title">Edit your stand: </h3>
          </div>
          <form method="POST" id="Login">
              {% csrf_token %}
              <div id="EditExpoForm" class="card-body">
            		{{ form|crispy }}

    	            <button type="submit" class="btn btn-primary">CREAR CUENTA</button>

                </div>
          </form>
          </div>
        </div>
        <div class="col-md-6">

          <div class="card card-primary">
          <div class="card-header">
              <h3 class="card-title">Look at your stand: <b>Secret Key del stand: {{ stand.editKey }}</b></h3>
          </div>
          <div class="webgl-content" style="width: 100%; height:33vw;">
            <div id="unityContainer" class=" " style="position:relative; top: -20vh; width: 100%; height: 80%;"></div>
            <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>




{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}

{% block body7 %}
{% endblock %}



{% block footer %}

{% endblock %}
