{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Staff - Espositor Edit Stand
{% endblock %}

{% block nav %}
{% endblock %}

{% block body1 %}

<div class="row Container">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <p class="" id="">Editar Stand</p>
            <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div id="EditExpoForm">
                {{ form|crispy }}

                <button type="submit" class="btn btn-primary">GUARDAR CAMBIOS</button>
            </div>
        </form>
    </div>
</div>


	
{% endblock %}

{% block body2 %}
{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}

{% block body7 %}
{% endblock %}



{% block footer %}

{% endblock %}
