{% extends 'base.html' %}
{% load static %}

{% block title %}
    Staff - Staff Edit Expo
{% endblock %}

{% block nav %}
{% endblock %}

{% block body1 %}


	<div id="EditExpoBox" class="col-sm-6">
        <p class="" id="">Editar Expo</p>
        <form method="POST">
        {% csrf_token %}
        	<div id="EditExpoForm">
	        	<input style="position: absolute; left: -100vw" type="text" name="Action" placeholder="Action" value="EditExpo">
	            
	            <input class="InputText" type="text" id="nombreExpo" name="nombreExpo" placeholder="Nombre de la Expo" autocomplete="off" value= {{ expo.nombre }}><br>
	            
	            <label for="numeroStands">Selecciona el numero de stands:</label><br>
	            <select id="numeroStands" name="numeroStands">
	            	<option value="{{ expo.stands_amount }}">{{ expo.stands_amount }}</option>
				    <option value="40">40</option>
				    <option value="80">80</option>
				    <option value="120">120</option>
				</select><br>
				
				<label for="start">Selecciona la fecha y hora del fin de la expo</label><br>
	            <input type="datetime-local" id="start"
			       name="HoraInicio" value="{{ expo.fecha_inicio }}T{{ expo.hora_inicio }}"><br>
			    
			    <label for="end">Selecciona la fecha y hora del fin de la expo:</label><br>
			    <input type="datetime-local" id="end"
			       name="HoraFin" value="{{ expo.fecha_final }}T{{ expo.hora_final }}"><br>

			    <label for="myfile">Seleciona el BannerA para el hall principal:</label><br>
  				<input type="file" id="BannerA" name="BannerA"><br>

  				<label for="myfile">Seleciona el BannerB para el hall principal:</label><br>
  				<input type="file" id="BannerB" name="BannerB"><br>

  				<label for="myfile">Seleciona el video principal del Hall:</label><br>
  				<input type="file" id="VideoHall" name="VideoHall"><br>

  				<label for="myfile">Seleciona el triptico de informacion:</label><br>
  				<input type="file" id="Triptico" name="Triptico"><br>

  				<label for="myfile">Sube una imagen con tu calendario:</label><br>
  				<input type="file" id="Calendario" name="Calendario"><br>

	            <button type="submit">GUARDAR CAMBIOS</button>

            </div>
		</form>
	</div>


	
{% endblock %}

{% block body2 %}
{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}

{% block body7 %}
{% endblock %}



{% block footer %}

{% endblock %}
