{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tu Expo Virtual
{% endblock %}

{% block nav %}
{% endblock %}

{% block scripts %} 
	<script>
      var unityInstance = UnityLoader.instantiate("unityContainer", '{% static "Build_Expo/expo_webgl.json" %}', {onProgress: UnityProgress});
      function OnAppReady(){
		    console.log("### application is loaded")
		    unityInstance.SendMessage("LoadExpo", "ChangeExpoName2", "{{expo.nombre}}");
		}
    </script>
{% endblock %}

{% block body1 %}
	<div class="webgl-content" style="width: 100%">
      <div id="unityContainer" class="center" style="position: relative; left: 12.5vw;width: 75vw; height: 40vw;"></div>
      <div class="footer" style="width: 75vw;position: relative; left: 12.5vw;">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
        <div class="title">TuExpoVirtual</div>
      </div>
    </div>
	
{% endblock %}