{% extends 'base.html' %}
{% load static %}

{% block title %}
    Tu Expo Virtual
{% endblock %}

{% block nav %}
{% endblock %}

{% block scripts %} 
	<script>
      var unityInstance = UnityLoader.instantiate("unityContainer", '{% static "Build/WebGL-Expo.json" %}', {onProgress: UnityProgress});
    </script>
{% endblock %}

{% block body1 %}
	{% include 'blockPortada.html' %}	
{% endblock %}

{% block body2 %}
	{% include 'blockComoFunciona.html' %}	
{% endblock %}

{% block body3 %}
	{% include 'blockStandsNetworking.html' %}	
{% endblock %}

{% block body4 %}
	{% include 'blockAreasAplicacion.html' %}	
{% endblock %}

{% block body5 %}
	{% include 'blockFerias.html' %}	
{% endblock %}

{% block body6 %}
	{% include 'blockRespuestas.html' %}	
{% endblock %}

{% block body7 %}
	{% include 'blockContacto.html' %}
{% endblock %}

{% block body8 %}
	
{% endblock %}



{% block footer %}

{% endblock %}
