{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Staff - Login
{% endblock %}

{% block nav %}
{% endblock %}

{% block body1 %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/Login" class="brand-link">
    <span class="brand-text font-weight-light">TuExpoVirtual</span>
  </a>



</aside>

  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Login TuExpoVirtual</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="LoginForm" method="POST" id="Login">
                {% csrf_token %}
                <input style="position: absolute; left: -100vw" type="text" name="Action" placeholder="Action" value="Login">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <!--input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"-->
                    <input type="text" class="form-control" id="exampleInputEmail1" name="user" placeholder="Usuario" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <!--input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"-->
                    <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="Contraseña" autocomplete="off">
                  </div>

                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>
    </section>
  </div>





{% endblock %}

{% block body2 %}
{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}

{% block body7 %}
{% endblock %}



{% block footer %}

{% endblock %}
