{% extends 'base.html' %}
{% load static %}

{% block title %}
    Staff - Select expo
{% endblock %}

{% block nav %}
{% endblock %}

{% block body1 %}

	Crea o edita una expo:
	<div class="expos row">
		{% for expo in expos %}
			<div class="col-sm-2">
				<button class="ExpoElementlement" onclick="window.location = 'EditExpo/{{ expo.nombre }}' ;">{{ expo.nombre }}</button>
			</div>
		{% endfor %}
		<div class="col-sm-2">
			<button class="ExpoElementlement" onclick="window.location = '{{ url_new_expo }}' ;">Crear nueva expo</button>
		</div>
	</div>

	
{% endblock %}

{% block body2 %}
	Crea o edita un usuario con privilegios de Dueño de Expo:
	<div class="expos row">
		{% for owner in expo_owners %}
			<div class="col-sm-2">
				<button class="ExpoElementlement" onclick="window.location = 'EditExpoOwner/{{ owner.id }}' ;">{{ owner.user.username }}</button>
			</div>
		{% endfor %}
		<div class="col-sm-2">
			<button class="ExpoElementlement" onclick="window.location = 'CreateExpositor' ;">Crear nueva cuenta</button>
		</div>
	</div>
{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}

{% block body7 %}
{% endblock %}



{% block footer %}

{% endblock %}
