{% extends 'base.html' %}
{% load static %}

{% block title %}
    Staff - Select expo
{% endblock %}

{% block nav %}
{% endblock %}

{% block body1 %}


	<div class="expos row">
		{% for expo in expos %}
			<div class="col-sm-3">
				<button class="ExpoElementlement" onclick="window.location = 'EditExpo/{{ expo.nombre }}' ;">{{ expo.nombre }}</button>
			</div>
		{% endfor %}
		<div class="col-sm-3">
			<button class="ExpoElementlement" onclick="window.location = '{{ url_new_expo }}' ;">Crear nueva expo</button>
		</div>
	</div>


	
{% endblock %}

{% block body2 %}
{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}

{% block body7 %}
{% endblock %}



{% block footer %}

{% endblock %}
