{% extends 'base.html' %}
{% load static %}

{% block title %}
    Expositor - Select stand
{% endblock %}

{% block nav %}
{% endblock %}

{% block body1 %}


  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/Login" class="brand-link">
      <span class="brand-text font-weight-light">Logout</span>
    </a>


    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-header">Lista de Stands</li>
      {% for stand in stands %}
          <li class="nav-item">
            <a href="EditStand/{{ stand.id }}"  class="nav-link">
              <p>{{ stand.nombre }}</p>
            </a>
          </li>
          {% endfor %}
        </nav>
  </aside>

{% endblock %}

{% block body2 %}
{% endblock %}

{% block body3 %}
{% endblock %}

{% block body4 %}
{% endblock %}

{% block body5 %}
{% endblock %}

{% block body6 %}
{% endblock %}

{% block body7 %}
{% endblock %}



{% block footer %}

{% endblock %}
